@()

<form action="@routes.StageController.deleteStage" method="post">
  <table>
    <tbody>
      <tr><th>ステージ名</th><th>確定</th></tr>
      <tr>
        <td>
          <select id="select_stage" name="stage"></select>
        </td>
        <td>
          <button type="submit" name="push" value="削除">削除</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>

<script type="text/javascript" charset="utf-8"
     src="@routes.StageController.stageListJs("#select_stage", "<option>")"></script>
