@()

<form id="pattern_form" action="/pattern/post" method="post">
  <table>
    <tbody>
      <tr><th colspan="3">場所</th><th colspan="3">敵の名前</th></tr>
      <tr>
        <td colspan="3" align="center">
          <select id="select_stage" name="stage">
          </select>
        </td>
        <td colspan="3" align="center">
          <select id="select_enemy" name="enemy">
          </select>
        </td>
        </tr>
        <tr>
          <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th>
        </tr>
        <tr>
          <td>
          <select id="pattern1" name="pattern1">
            <option value="?">?</option>
            <option value="Attack">Attack</option>
            <option value="Break">Break</option>
            <option value="Guard">Guard</option>
            <option value="Skill">Skill</option>
            <option value="EXTRA">EXTRA</option>
          </select>
        </td>
        <td>
          <select id="pattern2" name="pattern2">
            <option value="?">?</option>
            <option value="Attack">Attack</option>
            <option value="Break">Break</option>
            <option value="Guard">Guard</option>
            <option value="Skill">Skill</option>
            <option value="EXTRA">EXTRA</option>
          </select>
        </td>
        <td>
          <select id="pattern3" name="pattern3">
            <option value="?">?</option>
            <option value="Attack">Attack</option>
            <option value="Break">Break</option>
            <option value="Guard">Guard</option>
            <option value="Skill">Skill</option>
            <option value="EXTRA">EXTRA</option>
          </select>
        </td>
        <td>
          <select id="pattern4" name="pattern4">
            <option value="?">?</option>
            <option value="Attack">Attack</option>
            <option value="Break">Break</option>
            <option value="Guard">Guard</option>
            <option value="Skill">Skill</option>
            <option value="EXTRA">EXTRA</option>
          </select>
        </td>
        <td>
          <select id="pattern5" name="pattern5">
            <option value="?">?</option>
            <option value="Attack">Attack</option>
            <option value="Break">Break</option>
            <option value="Guard">Guard</option>
            <option value="Skill">Skill</option>
            <option value="EXTRA">EXTRA</option>
          </select>
        </td>
        <td>
          <select id="pattern6" name="pattern6">
            <option value="?">?</option>
            <option value="Attack">Attack</option>
            <option value="Break">Break</option>
            <option value="Guard">Guard</option>
            <option value="Skill">Skill</option>
            <option value="EXTRA">EXTRA</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="6" align="center">
          <button type="submit" name="push" value="登録">登録</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>


